body{
    background-color: #e7eae0;
    font-family: Arial, sans-serif;
}


.form-container{
    width: 600px;
    margin: 50px auto;
    background-color: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);

    border: 1px solid #ddd;
}


.main-heading{
    text-align: center;
    color: #0f2593;
    margin-bottom: 25px;
    font-size: 36px;
}


table{
    border: #141313;
    width: 100%;
}

h2{
    text-align: center;
    color: #0f2593;
    font-size: 25px;
}


td{
    padding: 10px;
}



input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
select,
textarea{

    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;

    outline: none;

    font-size: 14px;

    box-sizing: border-box;
}

a{
    display: block;
    width: 200px;
    margin: 20px auto;

    background-color: #8a2be2;
    color: white;

    padding: 10px;
    border-radius: 8px;

    text-decoration: none;
    text-align: center;
}

input:focus,
textarea:focus,
select:focus{

    border-color: #2bb67a;

    box-shadow: 0px 0px 5px #2be293;
}


textarea{
    height: 50px;
    resize: none;
}


input[type="submit"]{

    width: 100%;

    background-color: #0d096e;

    color: white;

    padding: 12px;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
}


input[type="submit"]:hover{
    background-color: #160f74;
}

.error{
    color: red;
    font-size: 14px;
}

.success{
    color: green;
    text-align: center;
}